.padd{
    padding-top: 50px !important;
    padding-bottom: 40px !important;
    padding-left: 70px !important;
    padding-right: 70px !important;
    
}
.cardstory{
    background-color: #393c3b;
    border-radius: 10px !important;
    
    
}
.cardlove {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardtext{
    text-align:justify;
    color: white;
    padding-left: 20px !important;
    font-size: 12px;
}

.cardtitle{
    text-align: start;
    color: white;
    font-size: 14px;
    padding-left: 20px !important;
}
.cardtitle1{
    padding-left: 10px !important;
    text-align:center;
    font-size: 30px !important;
    font-family: 'Great Vibes', cursive;
    color: #9f9263
}
.cardimg{
    
        width: 159px !important;
        height: 276px !important;
    
}
.cardimg1{
       
        width: 159px !important;
        height: 276px !important;
    
}
.colimg{
    padding-top: 200px !important;
    padding-left: 50px !important;
    
}
.colimg1{
    padding-top: 180px !important;
    
}

@media screen and (max-width:540px){
    .colimg{
        padding-top: 10px !important;
       
        
    }
    .colimg1{
        padding-top: 10px !important;
        
        
    }
    .padd{
        padding-left: 5 px !important;
        padding-right: 5 px !important;
    }
    
    }
