.backgift{
    background-image: url(../../Assets/white.jpg);
    position: relative;
    z-index: -1; 
     width: 100%;
     min-height: 90vh;
     background-size: cover; 
    background-position: center;
     background-repeat: no-repeat;
}


.cardboard{
    background-image: url(../../Assets/card.jpg);
    position: relative;
    z-index: -1; 
     max-width: 60vh !important;
     min-height: 20vh !important;
     background-size: cover; 
    background-position: center;
     background-repeat: no-repeat;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     border-radius:20px;
}