.groom{
    background-image:url(../../Assets/white.jpg);
    width: 100%;
     min-height: 110vh;
     background-size: cover; 
    background-position: center;
     background-repeat: no-repeat;
}
.brideText{
    padding-top: 90px;
    font-size: 25px !important;
  font-family: 'Great Vibes', cursive;
  color: #9f9263;
}
.groomText{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 50px;
    letter-spacing: 0.7px;
}
.danText{
    font-family: 'Great Vibes', cursive;
  color: #9f9263;
}

.image2{
    border-radius: 50%;
}
.figtext{
    font-family: 'Great Vibes', cursive;
    color: #393c3b;
    font-size:72px;
    padding-right: 20px;
}
.figtext1{
    font-family: 'Playfair Display', serif;
    color: #393c3b;
    font-weight: 400;
    font-style: italic;
    font-size:20px;
    padding-right: 20px;
}

@media screen and (min-width:540px){
.fig1{
    padding-left: 200px !important;
}
.fig2{
    padding-right: 200px !important;
}
}
