.home-section {
     width: 100%;
     min-height: 100%;
     background-size: cover; 
    background-image:linear-gradient(0deg, rgba(0,0,0,0.258140756302521) 0%, rgba(0,0,0,0.26) 100%), url(../../Assets/Gallery/image5.jpg);
    background-position: center;
     background-repeat: no-repeat;
  }
  .home-header {
    text-align: center;
    padding-top: 120px !important;

  }
  .home-content {
    color: whitesmoke;
    text-align: left;
  }
  .heading {
    font-size: 13px !important;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);
    padding-top: 50px !important;
  }
  
  .heading-name {
    font-size: 45px !important;
    font-family: 'Great Vibes', cursive;
    /* padding-left: 45px !important; */
    color: #c3b47d;
    position: relative;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);
  }
  .text{
    font-size: 14px !important;
    color: whitesmoke;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);
  }
  .text1{
    font-size: 11px !important;
    color: whitesmoke;
    padding-top: 80px !important;
    text-align: center;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);
  }
  .text2{
    font-size: 15px !important;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
    font-weight: 500;
    text-align: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);
  }
  .text3{
    font-size: 12px;
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);
  }
  .tombol{
    text-align: center;
  }

/* Button */
.button{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  color: rgb(66, 66, 66);
  border-radius: 20px;
}
.enve{
  size: 15px;
}
.but{
  
}

@media screen and (max-width:540px){
  .home-section {
    min-height: 100vh !important;
  }
  .heading-name {
    font-size: 50px !important;
  }
  .home-header {
    text-align: center;
    padding-top: 100px !important;

  }
      
  
}